In [13]:
import pandas as pd
import numpy as np

In [44]:
final_crime=pd.read_csv('final_crime.csv',index_col=0)

C:\Apps\HarshD\lib\site-packages\numpy\lib\arraysetops.py:522: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [45]:
final_crime.head()

   CMPLNT_NUM    BORO_NM CMPLNT_FR_DT   LAW_CAT_CD   Latitude  Longitude
0   876525802   BROOKLYN   04/10/2008  MISDEMEANOR  40.669414 -73.912603
1   402693528  MANHATTAN   06/03/2007  MISDEMEANOR  40.801978 -73.945511
2   832030069     QUEENS   02/16/2010       FELONY  40.699990 -73.830978
3   538308771   BROOKLYN   11/10/2009  MISDEMEANOR  40.681005 -73.955035
5   141085517   BROOKLYN   06/23/2011       FELONY  40.678338 -73.925578

In [46]:
final_crime.Latitude = final_crime.Latitude.round(3)
final_crime.Longitude = final_crime.Longitude.round(3)
final_crime['Latitude'] = final_crime.Latitude.astype(str)
final_crime['Longitude'] = final_crime.Longitude.astype(str)
final_crime['Lat_Lon'] = final_crime['Latitude'] + ',' + final_crime['Longitude']

In [47]:
final_crime.head()

,CMPLNT_NUM,BORO_NM,CMPLNT_FR_DT,LAW_CAT_CD,Latitude,Longitude,Lat_Lon
0,876525802,BROOKLYN,04/10/2008,MISDEMEANOR,40.669,-73.913,"40.669,-73.913"
1,402693528,MANHATTAN,06/03/2007,MISDEMEANOR,40.802,-73.946,"40.802,-73.946"
2,832030069,QUEENS,02/16/2010,FELONY,40.7,-73.831,"40.7,-73.831"
3,538308771,BROOKLYN,11/10/2009,MISDEMEANOR,40.681,-73.955,"40.681,-73.955"
5,141085517,BROOKLYN,06/23/2011,FELONY,40.678,-73.926,"40.678,-73.926"

In [48]:
zip_to_lat.head()

          Lat_Lon neighborhood  zipcode
0  40.758,-74.001      Clinton    10001
1  40.757,-74.004      Clinton    10001
2  40.756,-74.002      Clinton    10001
3  40.756,-73.999      Clinton    10001
4  40.755,-74.002      Chelsea    10001

In [49]:
zip_to_lat = pd.read_csv('nyc_neighborhood.csv')
zip_dict = dict(zip(zip_to_lat['Lat_Lon'],zip_to_lat['zipcode']))
final_crime['zipcode'] = final_crime['Lat_Lon'].map(zip_dict)

In [50]:
final_crime.head()

,CMPLNT_NUM,BORO_NM,CMPLNT_FR_DT,LAW_CAT_CD,Latitude,Longitude,Lat_Lon,zipcode
0,876525802,BROOKLYN,04/10/2008,MISDEMEANOR,40.669,-73.913,"40.669,-73.913",11212.0
1,402693528,MANHATTAN,06/03/2007,MISDEMEANOR,40.802,-73.946,"40.802,-73.946",10026.0
2,832030069,QUEENS,02/16/2010,FELONY,40.7,-73.831,"40.7,-73.831",11418.0
3,538308771,BROOKLYN,11/10/2009,MISDEMEANOR,40.681,-73.955,"40.681,-73.955",11216.0
5,141085517,BROOKLYN,06/23/2011,FELONY,40.678,-73.926,"40.678,-73.926",11233.0

In [51]:
final_crime.isnull().sum()

CMPLNT_NUM         0
BORO_NM            0
CMPLNT_FR_DT       0
LAW_CAT_CD         0
Latitude           0
Longitude          0
Lat_Lon            0
zipcode         9811
dtype: int64

In [52]:
#final_crime.zipcode.value_counts()

In [53]:
(final_crime.isnull().sum()/len(final_crime))*100

CMPLNT_NUM      0.000000
BORO_NM         0.000000
CMPLNT_FR_DT    0.000000
LAW_CAT_CD      0.000000
Latitude        0.000000
Longitude       0.000000
Lat_Lon         0.000000
zipcode         0.150989
dtype: float64

In [54]:
final_crime.dropna(inplace=True)

In [59]:
zip_to_bor = pd.read_csv('neighborhood-NYC.csv')
borough_dict = dict(zip(zip_to_bor['zipcode'], zip_to_bor['neighborhood']))
final_crime['neighborhood'] = final_crime['zipcode'].map(borough_dict)

In [60]:
final_crime.isnull().sum()
(final_crime.isnull().sum()/len(final_crime))*100

CMPLNT_NUM      0.000000
BORO_NM         0.000000
CMPLNT_FR_DT    0.000000
LAW_CAT_CD      0.000000
Latitude        0.000000
Longitude       0.000000
Lat_Lon         0.000000
zipcode         0.000000
neighborhood    0.131519
dtype: float64

In [61]:
missing= final_crime[final_crime.isna().any(axis=1)]

In [62]:
missing.zipcode.value_counts()

11040.0    836
10112.0    770
10165.0    743
11451.0    702
11371.0    633
10155.0    514
10110.0    452
10199.0    438
11247.0    417
10169.0    407
10278.0    349
10103.0    292
10174.0    283
10154.0    230
10279.0    223
11424.0    159
10115.0    156
10172.0    139
10167.0    137
10271.0    117
10177.0    101
10171.0     76
10281.0     66
10168.0     62
11580.0     59
11096.0     45
11020.0     32
11252.0     30
10701.0     24
11351.0     14
11425.0     13
10152.0     10
11021.0      4
Name: zipcode, dtype: int64

In [63]:
final_crime.to_csv('crime_w_zipcodes.csv')