In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
crime=pd.read_csv('NYPD_Complaint_Data_Historic.csv',error_bad_lines = False)

C:\Apps\HarshD\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (18,20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
crime.head()

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,ADDR_PCT_CD,RPT_DT,KY_CD,OFNS_DESC,PD_CD,PD_DESC,CRM_ATPT_CPTD_CD,LAW_CAT_CD,BORO_NM,LOC_OF_OCCUR_DESC,PREM_TYP_DESC,JURIS_DESC,JURISDICTION_CODE,PARKS_NM,HADEVELOPT,HOUSING_PSA,X_COORD_CD,Y_COORD_CD,SUSP_AGE_GROUP,SUSP_RACE,SUSP_SEX,TRANSIT_DISTRICT,Latitude,Longitude,Lat_Lon,PATROL_BORO,STATION_NAME,VIC_AGE_GROUP,VIC_RACE,VIC_SEX
0,876525802,04/10/2008,19:10:00,NaN,NaN,73.0,04/10/2008,341,PETIT LARCENY,321.0,"LARCENY,PETIT FROM AUTO",COMPLETED,MISDEMEANOR,BROOKLYN,NaN,STREET,N.Y. POLICE DEPT,0.0,NaN,NaN,NaN,1008495.0,183171.0,NaN,NaN,NaN,NaN,40.669414,-73.912603,"(40.669413836, -73.91260308)",PATROL BORO BKLYN NORTH,NaN,18-24,BLACK,M
1,402693528,06/03/2007,15:23:00,NaN,NaN,28.0,06/03/2007,236,DANGEROUS WEAPONS,782.0,"WEAPONS, POSSESSION, ETC",COMPLETED,MISDEMEANOR,MANHATTAN,NaN,STREET,N.Y. POLICE DEPT,0.0,NaN,NaN,NaN,999336.0,231461.0,NaN,NaN,NaN,NaN,40.801978,-73.945511,"(40.801978284, -73.945511151)",PATROL BORO MAN NORTH,NaN,NaN,UNKNOWN,E
2,832030069,02/16/2010,20:50:00,02/16/2010,20:50:00,102.0,02/16/2010,105,ROBBERY,375.0,"ROBBERY,PHARMACY",COMPLETED,FELONY,QUEENS,INSIDE,GROCERY/BODEGA,N.Y. POLICE DEPT,0.0,NaN,NaN,NaN,1031117.0,194344.0,NaN,NaN,NaN,NaN,40.699990,-73.830978,"(40.699990268, -73.830977746)",PATROL BORO QUEENS SOUTH,NaN,NaN,UNKNOWN,D
3,538308771,11/10/2009,16:35:00,11/10/2009,16:45:00,79.0,11/10/2009,341,PETIT LARCENY,333.0,"LARCENY,PETIT FROM STORE-SHOPL",COMPLETED,MISDEMEANOR,BROOKLYN,INSIDE,FOOD SUPERMARKET,N.Y. POLICE DEPT,0.0,NaN,NaN,NaN,996722.0,187385.0,NaN,NaN,NaN,NaN,40.681005,-73.955035,"(40.681004729, -73.955034577)",PATROL BORO BKLYN NORTH,NaN,NaN,UNKNOWN,D
4,965693192,04/11/2006,09:30:00,04/11/2006,10:00:00,123.0,04/25/2006,112,THEFT-FRAUD,739.0,"FRAUD,UNCLASSIFIED-FELONY",COMPLETED,FELONY,STATEN ISLAND,NaN,COMMERCIAL BUILDING,N.Y. POLICE DEPT,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PATROL BORO STATEN ISLAND,NaN,25-44,WHITE,M

In [3]:
crime.shape

(6847944, 35)

In [4]:
crime.BORO_NM.value_counts()

BROOKLYN         2035004
MANHATTAN        1645015
BRONX            1484373
QUEENS           1351400
STATEN ISLAND     321394
Name: BORO_NM, dtype: int64

In [5]:
crime[:1]

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,ADDR_PCT_CD,RPT_DT,KY_CD,OFNS_DESC,PD_CD,PD_DESC,CRM_ATPT_CPTD_CD,LAW_CAT_CD,BORO_NM,LOC_OF_OCCUR_DESC,PREM_TYP_DESC,JURIS_DESC,JURISDICTION_CODE,PARKS_NM,HADEVELOPT,HOUSING_PSA,X_COORD_CD,Y_COORD_CD,SUSP_AGE_GROUP,SUSP_RACE,SUSP_SEX,TRANSIT_DISTRICT,Latitude,Longitude,Lat_Lon,PATROL_BORO,STATION_NAME,VIC_AGE_GROUP,VIC_RACE,VIC_SEX
0,876525802,04/10/2008,19:10:00,NaN,NaN,73.0,04/10/2008,341,PETIT LARCENY,321.0,"LARCENY,PETIT FROM AUTO",COMPLETED,MISDEMEANOR,BROOKLYN,NaN,STREET,N.Y. POLICE DEPT,0.0,NaN,NaN,NaN,1008495.0,183171.0,NaN,NaN,NaN,NaN,40.669414,-73.912603,"(40.669413836, -73.91260308)",PATROL BORO BKLYN NORTH,NaN,18-24,BLACK,M

In [6]:
crime.PATROL_BORO.value_counts()

PATROL BORO BRONX            1485161
PATROL BORO BKLYN SOUTH      1021109
PATROL BORO BKLYN NORTH      1015393
PATROL BORO MAN SOUTH         830904
PATROL BORO MAN NORTH         813409
PATROL BORO QUEENS NORTH      698941
PATROL BORO QUEENS SOUTH      655319
PATROL BORO STATEN ISLAND     321518
Name: PATROL_BORO, dtype: int64

In [7]:
crime.OFNS_DESC.value_counts()

PETIT LARCENY                           1138792
HARRASSMENT 2                            860614
ASSAULT 3 & RELATED OFFENSES             718075
CRIMINAL MISCHIEF & RELATED OF           686072
GRAND LARCENY                            591834
DANGEROUS DRUGS                          415704
OFF. AGNST PUB ORD SENSBLTY &            363392
FELONY ASSAULT                           260474
ROBBERY                                  249554
BURGLARY                                 235819
MISCELLANEOUS PENAL LAW                  169609
DANGEROUS WEAPONS                        155380
OFFENSES AGAINST PUBLIC ADMINI           130258
GRAND LARCENY OF MOTOR VEHICLE           123340
INTOXICATED & IMPAIRED DRIVING            93044
VEHICLE AND TRAFFIC LAWS                  83723
SEX CRIMES                                81032
CRIMINAL TRESPASS                         79297
THEFT-FRAUD                               73153
FORGERY                                   69611
FRAUDS                                    42539
POSSESSION OF STOLEN PROPERTY             35872
OFFENSES INVOLVING FRAUD                  21982
UNAUTHORIZED USE OF A VEHICLE             20134
RAPE                                      19844
OFFENSES AGAINST THE PERSON               17059
ARSON                                     16633
OTHER OFFENSES RELATED TO THEF            15314
ADMINISTRATIVE CODE                       15074
OTHER STATE LAWS (NON PENAL LA             6536
                                         ...
DISORDERLY CONDUCT                         1005
OFFENSES AGAINST PUBLIC SAFETY              996
AGRICULTURE & MRKTS LAW-UNCLASSIFIED        584
CHILD ABANDONMENT/NON SUPPORT               434
JOSTLING                                    433
OTHER STATE LAWS                            279
ENDAN WELFARE INCOMP                        244
LOITERING/GAMBLING (CARDS, DIC              242
ESCAPE 3                                    201
HOMICIDE-NEGLIGENT,UNCLASSIFIE              156
ANTICIPATORY OFFENSES                       113
HOMICIDE-NEGLIGENT-VEHICLE                  103
NEW YORK CITY HEALTH CODE                    88
UNLAWFUL POSS. WEAP. ON SCHOOL               68
INTOXICATED/IMPAIRED DRIVING                 61
NYS LAWS-UNCLASSIFIED VIOLATION              54
DISRUPTION OF A RELIGIOUS SERV               52
KIDNAPPING                                   39
LOITERING                                    23
LOITERING FOR DRUG PURPOSES                  23
ADMINISTRATIVE CODES                         19
LOITERING/DEVIATE SEX                        16
OTHER TRAFFIC INFRACTION                     15
OTHER STATE LAWS (NON PENAL LAW)             11
FORTUNE TELLING                              11
ABORTION                                      7
FELONY SEX CRIMES                             4
OFFENSES AGAINST MARRIAGE UNCL                4
UNDER THE INFLUENCE OF DRUGS                  3
KIDNAPPING AND RELATED OFFENSES               3
Name: OFNS_DESC, Length: 71, dtype: int64

In [8]:
crime=crime[['CMPLNT_NUM','BORO_NM','CMPLNT_FR_DT','LAW_CAT_CD','Latitude','Longitude']]

In [9]:
crime.head()

   CMPLNT_NUM        BORO_NM CMPLNT_FR_DT   LAW_CAT_CD   Latitude  Longitude
0   876525802       BROOKLYN   04/10/2008  MISDEMEANOR  40.669414 -73.912603
1   402693528      MANHATTAN   06/03/2007  MISDEMEANOR  40.801978 -73.945511
2   832030069         QUEENS   02/16/2010       FELONY  40.699990 -73.830978
3   538308771       BROOKLYN   11/10/2009  MISDEMEANOR  40.681005 -73.955035
4   965693192  STATEN ISLAND   04/11/2006       FELONY        NaN        NaN

In [10]:
crime.isnull().sum()

CMPLNT_NUM           0
BORO_NM          10758
CMPLNT_FR_DT       655
LAW_CAT_CD           0
Latitude        339387
Longitude       339387
dtype: int64

In [11]:
crime.dropna(inplace=True)

In [12]:
#crime.to_csv('final_crime.csv')

In [13]:
crime.shape

(6497826, 6)

In [14]:
crime.to_csv('final_crime.csv')

In [14]:
crime.Latitude = crime.Latitude.round(3)
crime.Longitude = crime.Longitude.round(3)
crime['Latitude'] = crime.Latitude.astype(str)
crime['Longitude'] = crime.Longitude.astype(str)
crime['Lat_Lon'] = crime['Latitude'] + ',' + crime['Longitude']

In [15]:
crime.head(2)

,CMPLNT_NUM,BORO_NM,CMPLNT_FR_DT,LAW_CAT_CD,Latitude,Longitude,Lat_Lon
0,876525802,BROOKLYN,04/10/2008,MISDEMEANOR,40.669,-73.913,"40.669,-73.913"
1,402693528,MANHATTAN,06/03/2007,MISDEMEANOR,40.802,-73.946,"40.802,-73.946"

In [16]:
crime.dropna(inplace=True)

In [18]:
crime_lat_lon = crime.dropna(subset=['Lat_Lon'])

In [21]:
import numpy as np

In [22]:
coordinates=np.sort(crime_lat_lon.Lat_Lon.unique())

In [23]:
pd.DataFrame(coordinates, columns=["Lat_Lon"]).to_csv("nyc_unique_loc.csv", index=False)

In [24]:
coordinates.shape

(53441,)