In [78]:
# package imports
#basics
import numpy as np
import pandas as pd

#viz
import matplotlib.pyplot as plt
import seaborn as sns 
import matplotlib.gridspec as gridspec 
import matplotlib.gridspec as gridspec 


#settings

color = sns.color_palette()
sns.set_style("dark")
pd.set_option('display.max_columns', None)

%matplotlib inline

In [79]:
df=pd.read_csv('listings.csv')

C:\Apps\HarshD\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (61,62,94,95) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [80]:
df.shape

(50599, 106)

In [81]:
df.head(1)

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,notes,transit,access,interaction,house_rules,thumbnail_url,medium_url,picture_url,xl_picture_url,host_id,host_url,host_name,host_since,host_location,host_about,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_thumbnail_url,host_picture_url,host_neighbourhood,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified,street,neighbourhood,neighbourhood_cleansed,neighbourhood_group_cleansed,city,state,zipcode,market,smart_location,country_code,country,latitude,longitude,is_location_exact,property_type,room_type,accommodates,bathrooms,bedrooms,beds,bed_type,amenities,square_feet,price,weekly_price,monthly_price,security_deposit,cleaning_fee,guests_included,extra_people,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,calendar_updated,has_availability,availability_30,availability_60,availability_90,availability_365,calendar_last_scraped,number_of_reviews,number_of_reviews_ltm,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2595,https://www.airbnb.com/rooms/2595,20191204162729,2019-12-07,Skylit Midtown Castle,"Beautiful, spacious skylit studio in the heart...","- Spacious (500+ftÂ²), immaculate and nicely fu...","Beautiful, spacious skylit studio in the heart...",none,Centrally located in the heart of Manhattan ju...,NaN,Apartment is located on 37th Street between 5t...,"Guests have full access to the kitchen, bathro...",I am a Sound Therapy Practitioner and Kundalin...,"Make yourself at home, respect the space and t...",NaN,NaN,https://a0.muscache.com/im/pictures/f0813a11-4...,NaN,2845,https://www.airbnb.com/users/show/2845,Jennifer,2008-09-09,"New York, New York, United States",A New Yorker since 2000! My passion is creatin...,within a day,85%,NaN,f,https://a0.muscache.com/im/users/2845/profile_...,https://a0.muscache.com/im/users/2845/profile_...,Midtown,6.0,6.0,"['email', 'phone', 'reviews', 'offline_governm...",t,t,"New York, NY, United States",Midtown,Midtown,Manhattan,New York,NY,10018,New York,"New York, NY",US,United States,40.75362,-73.98377,f,Apartment,Entire home/apt,1,1.0,0.0,1.0,Real Bed,"{TV,Wifi,""Air conditioning"",Kitchen,""Paid park...",NaN,$225.00,"$1,995.00",NaN,$350.00,$95.00,1,$0.00,10,1125,10,10,1125,1125,10.0,1125.0,2 weeks ago,t,1,1,1,1,2019-12-07,48,7,2009-11-21,2019-11-04,94.0,9.0,9.0,10.0,10.0,10.0,9.0,f,NaN,NaN,f,f,strict_14_with_grace_period,t,t,1,1,0,0,0.39

In [82]:
df.accommodates.isnull().sum()

0

In [83]:
df['description'].isnull().sum()

1032

In [84]:
df.neighbourhood_group_cleansed.value_counts()

Manhattan        22070
Brooklyn         20740
Queens            6196
Bronx             1215
Staten Island      378
Name: neighbourhood_group_cleansed, dtype: int64

In [85]:
df1=df[['id','description','accommodates','zipcode']]

In [86]:
df_viz=pd.read_csv('listings-viz.csv')

In [87]:
df_viz.isnull().sum()

id                                    0
name                                 17
host_id                               0
host_name                           563
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10220
reviews_per_month                 10220
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [88]:
# last_review is a date and I don't know what to do with it, so I am just dropping it for now
# for reviews_per_montth, I am replacing with 0 for now, if we see somethig interesting after EDA (e.g: bell curve) 
# i will replace it with mean/median

In [89]:
df_viz.drop(['last_review'],axis=1, inplace=True)

In [90]:
df_viz.isnull().sum()

id                                    0
name                                 17
host_id                               0
host_name                           563
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
reviews_per_month                 10220
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [91]:
airbnb=pd.merge(df_viz,df1,on='id')

In [92]:
airbnb.isnull().sum()

id                                    0
name                                 17
host_id                               0
host_name                           563
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
reviews_per_month                 10220
calculated_host_listings_count        0
availability_365                      0
description                        1032
accommodates                          0
zipcode                             465
dtype: int64

In [93]:
# we do not need name and host name, and let's drop null vales from description for now

In [94]:
airbnb.drop(['name','host_name'],axis=1,inplace=True)

In [95]:
# replacing reviews_per_month with 0

In [96]:
airbnb.fillna({'reviews_per_month':0}, inplace=True)

In [97]:
# dropping any other na

In [98]:
airbnb.dropna(axis = 0, how ='any', inplace = True)

In [99]:
airbnb.isnull().sum()

id                                0
host_id                           0
neighbourhood_group               0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
description                       0
accommodates                      0
zipcode                           0
dtype: int64

In [100]:
airbnb.shape

(49111, 16)

In [101]:
airbnb['zipcode']= airbnb['zipcode'].str.replace(r'[^\d.]+', '')

In [102]:
airbnb.rename(columns = {'neighbourhood_group':'borough','neighbourhood':'neighbourhood_group'}, inplace = True)

In [72]:
#airbnb.drop(['neighborhood'],axis=1,inplace=True)

In [75]:
#zip_to_bor = pd.read_csv('neighborhood-NYC.csv')
#borough_dict_a = dict(zip(zip_to_bor['zipcode'], zip_to_bor['neighborhood']))
#airbnb['neighborhood'] = airbnb['zipcode'].map(borough_dict_a)

In [76]:
#airbnb.dropna(inplace=True)
#airbnb.zipcode = airbnb.zipcode.astype(np.int64)

In [103]:
airbnb.head()

,id,host_id,borough,neighbourhood_group,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,description,accommodates,zipcode
0,2595,2845,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,10,48,0.39,1,1,"Beautiful, spacious skylit studio in the heart...",1,10018
1,3831,4869,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,295,4.67,1,1,Urban retreat: enjoy 500 s.f. floor in 1899 br...,3,11238
2,5099,7322,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,78,0.60,1,19,My large 1 bedroom apartment has a true New Yo...,2,10016
3,5121,7356,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,29,49,0.38,1,365,HELLO EVERYONE AND THANKS FOR VISITING BLISS A...,2,11216
4,5178,8967,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79,2,454,3.52,1,242,Please donât expect the luxury here just a bas...,2,10019

In [105]:
airbnb.to_csv('Airbnb_cleaned.csv')

In [107]:
airbnb.borough.value_counts()

Manhattan        21508
Brooklyn         20151
Queens            5934
Bronx             1148
Staten Island      370
Name: borough, dtype: int64